#Options -Indexes

#Remove php from pages

#RewriteEngine On
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %(REQUEST_FILENAME) !-d
#RewriteRule ~{.*}$ $1.php [L,QSA]


# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /firmVote0.2/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /firmVote0.2/index.php [L]
</IfModule>

# END WordPress