
html { overflow-y: scroll; }

.wrapped{
    position:relative;
    z-index:1;
}
#title{
    background:transparent url(../images/ban.png) no-repeat 0 0 scroll;
    position:absolute;
    top:20px;
    left:24px;
    height:100px;
    width:334px;
    z-index:0;
}

#download{
    position:absolute;
    top:132px;
    left:30px;
    text-decoration:none;
    font-size:12px;
    color:#333;
    font-weight:bold;
    font-family:arial, sans-serif;
        margin-top:10px;
     z-index:0;
}

#download:hover{
    color:#000;
    text-decoration:underline;

}

#download1{
    position:absolute;
    top:135px;
    left:30px;
    text-decoration:none;
    font-size:12px;
    color:#333;
    font-weight:bold;
    font-family:arial, sans-serif;
        margin-top:10px;
     z-index:0;
}

#download1:hover{
    color:#000;
   /* text-decoration:underline;*/
	background: #4fa2c4;

}

#download2{
    position:absolute;
    top:155px;
    left:30px;
    text-decoration:none;
    font-size:12px;
    color:#333;
    font-weight:bold;
    font-family:arial, sans-serif;
        margin-top:10px;
     z-index:0;
}

#download2:hover{
    color:#000;
    text-decoration:underline;

}

#download3{
    position:absolute;
    top:175px;
    left:30px;
    text-decoration:none;
    font-size:12px;
    color:#333;
    font-weight:bold;
    font-family:arial, sans-serif;
        margin-top:10px;
     z-index:0;
}

#download3:hover{
    color:#000;
    text-decoration:underline;

}